@import "../../common/styles/colors";
@import "../../common/styles/template";

.nav_item {
  color: $color-white;

  font-weight: 700;
  font-size: 30px;
  line-height: 1.2em;
  text-transform: capitalize;

  .nav_link {
    &:active,
    &:focus {
      outline: none;
    }
  }
}
