@import "../../../common/styles/colors";
@import "../../../common/styles/template";

.users_form {
  display: flex;
  flex-direction: column;

  padding: 20px 15px;
  border-radius: 25px;
  margin-left: -60px;

  box-shadow: 0px 3px 5px 0px rgba(117, 125, 148, 1);

  background-color: $color-white;

  .users_input_submit {
    @extend %btn_submit;
  }
}
