*, *::after, *::before{
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

ul{
  list-style: none;
  padding-left: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

body{
  background-color: #ebecf7;
  color: #c3cdd2;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2em;
}

#root{
  display: flex;
  flex-direction: column;
  height: 100vh;
}