@import "../../../common/styles/colors";
@import "../../../common/styles/template";

.user_tasks {
  flex-grow: 1;
  .container {
    @extend %container;

    .user_tasks_inner {
      margin-top: 100px;

      .user_tasks_title {
        margin: 18px 0px 40px 0px;
        
        @extend %title;

        span {
          @extend %title_span;

          text-transform: capitalize;
        }
      }

      .user_tasks_list {
        padding: 25px 25px;
        border-radius: 25px;

        @extend %box-shadow-big;

        background-color: $color-white;

        &_item {
          padding: 14px;
          border: none;
          border-radius: 6px;
          margin-bottom: 12px;

          @extend %box-shadow-small;
          background-color: $color-light-grey;
          opacity: 1;
          transition: opacity 1s ease-out;

          &.user_tasks_list_item_bg {
            opacity: 0;
          }

          .task_container {
            display: flex;
            justify-content: space-between;

            .task_content {
              flex-basis: 80%;

              color: #757d94;

              font-weight: 700;
              font-size: 22px;
              line-height: 1.2;
            }

            .task_box_control {
              display: flex;
              justify-content: flex-end;
              gap: 10px;
              flex-basis: 15%;

              .task_checkbox_wrapper {
                .task_checkbox {
                  display: none;

                  &:checked + label::before {
                    content: "";
                    position: absolute;

                    top: 5px;
                    right: 5px;

                    width: 30px;
                    height: 30px;

                    z-index: 99;

                    background-color: $color-dark-grey-blue;
                  }
                }

                .task_custom_checkbox {
                  position: relative;

                  padding-right: 45px;

                  &::after,
                  &::before {
                    border-radius: 6px;

                    cursor: pointer;
                  }

                  &::after {
                    content: "";
                    position: absolute;

                    width: 40px;
                    height: 40px;

                    top: 0;
                    right: 0;

                    @extend %box-shadow-small;
                    background-color: $color-light-grey;
                  }
                }
              }

              .task_btn_wrapper {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 40px;
                height: 40px;

                border-radius: 6px;

                @extend %box-shadow-small;
                background-color: $color-light-grey;

                .task_btn_edit,
                .task_btn_delete {
                  width: 30px;
                  height: 30px;

                  border: none;
                  border-radius: 6px;

                  @extend %box-shadow-mini;
                  background-color: transparent;

                  background-repeat: no-repeat;
                  background-size: cover;
                }

                .task_btn_edit {
                  @extend %img_btn_edit;
                }

                .task_btn_delete {
                  @extend %img_btn_delete;
                }
              }
            }
          }

          .task_box_date {
            display: flex;
            align-items: center;
            gap: 10px;

            margin-top: 5px;

            .task_date_title,
            .task_date_text {
              font-weight: 700;
              font-size: 18px;
              line-height: 1.2;
            }

            .task_date_title::first-letter {
              text-transform: capitalize;
            }
          }
        }
      }

      .user_tasks_btn_back {
        max-width: 150px;
        width: 100%;

        margin-top: 20px;

        @extend %btn_style;
      }
    }
  }
}
