@import "../../../common/styles/colors";
@import "../../../common/styles/template";

.task_form {
  display: flex;
  flex-direction: column;

  margin-top: 60px;

  .task_input_submit {
    @extend %btn_submit;
  }
}
