@import "../../../common/styles/colors";
@import "../../../common/styles/template";

.uwt_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;

  margin: 0 0 40px 0;

  @media (max-width: 1230px) {
    justify-content: center;
  }

  .uwt_item {
    flex-basis: 228px;
    height: 290px;

    padding: 20px 15px;
    border-radius: 25px;

    @extend %box-shadow-big;

    background-color: $color-white;

    @media (max-width: 992px) {
      height: 310px;
    }

    @media (max-width: 576px) {
      height: 335px;
    }

    .uwt_item_img {
      @extend %item_img;
    }

    .uwt_item_login {
      @extend %item_login;
    }

    .uwt_item_box_count_tasks {
      display: flex;
      justify-content: center;
      gap: 5px;

      .uwt_item_count_tasks_title,
      .uwt_item_count_tasks_text {
        margin-top: 5px;

        color: $color-grey;

        font-weight: 700;
        font-size: 18px;
        line-height: 1.2em;
        text-transform: capitalize;
      }
    }

    .uwt_btn_back {
      max-width: 120px;
      width: 100%;

      @extend %btn_style;

      padding: 8px;
      margin: 15px auto 0;

      font-size: 14px;
    }
  }
}
