@import "../../../common/styles/colors";
@import "../../../common/styles/template";

.window_back {
  @extend %window_back;
  &.window_back_visible {
    @extend %window_back_visible;
  }
}

.users_edit_window {
  @extend %window_edit;
  &.users_edit_window_visible {
    @extend %window_edit_visible;
  }

  .users_edit_window_wrapper {
    @extend %window_edit_wrapper;
    .btn_wrapper {
      @extend %btn_close_wrapper;
      .btn_close {
        @extend %btn_close;
      }
    }

    .title {
      margin: -20px 0px 40px 25px;

      @media (max-width: 440px) {
        margin: -20px 0px 40px 0px;
      }

      @extend %title;

      span {
        @extend %title_span;
      }
    }

    .edit_box_img {
      max-width: 400px;
      width: 100%;
      margin: 40px auto 0;

      .edit_img {
        display: block;
        width: 100%;
      }
    }
  }
}
