@import "../../../common/styles/colors";
@import "../../../common/styles/template";

.users_wrapper {
  opacity: 0;
  overflow: hidden;
  height: 0;
  transition: opacity 0.4s ease, height 0.4s ease;
  &.users_wrapper_visible {
    height: 365px;
    overflow: visible;
    opacity: 1;
  }

  .users_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    &_item {
      flex-basis: 210px;
      height: 270px;

      padding: 20px 15px;
      border-radius: 25px;

      cursor: pointer;
      @extend %box-shadow-big;

      background-color: $color-white;
      .users_item_img {
        @extend %item_img;
      }

      .users_item_login {
        @extend %item_login;
      }

      .users_control {
        display: flex;
        gap: 10px;
        justify-content: flex-end;

        margin-top: 15px;

        .users_btn_wrapper {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 40px;
          height: 40px;

          border-radius: 6px;

          @extend %box-shadow-small;
          background-color: $color-light-grey;

          .users_btn_edit,
          .users_btn_delete {
            width: 30px;
            height: 30px;

            border: none;
            border-radius: 6px;

            @extend %box-shadow-mini;
            background-color: transparent;

            background-repeat: no-repeat;
            background-size: cover;
          }

          .users_btn_edit {
            @extend %img_btn_edit;
          }

          .users_btn_delete {
            @extend %img_btn_delete;
          }
        }
      }
    }
  }

  .users_pages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;

    margin-top: 20px;

    span {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 40px;
      height: 40px;

      padding: 3px;
      border-radius: 3px;

      @extend %box-shadow-mini;
      cursor: pointer;

      background-color: $color-grey;
      color: $color-white;

      font-weight: 700;
      font-size: 20px;
      line-height: 1.2em;
    }

    .users_active_page {
      color: $color-dark-grey-blue;
    }
  }
}
