$color-white: #fff;
$color-dark-grey-blue: #757d94;
$color-light-grey: #ebecf7;
$color-grey: #d8d8d8;
$color-medium-grey: #c3cdd2;
$color-lavender: #a69ce8;
$color-red: #fa3434;
$color-light-red: #ff8989;
$color-dark-grey-blue-opacity: #757d947f;