@import "../../common/styles/colors";
@import "../../common/styles/template";

.logo {
  position: relative;

  color: $color-white;

  z-index: 3;
  
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2em;
  
  &:active,
  &:focus {
    outline: none;
  }
}
