@import "../../../common/styles/colors";
@import "../../../common/styles/template";

.users_wrapper {
  opacity: 0;
  overflow: hidden;
  height: 0;
  transition: opacity 0.4s ease, height 0.4s ease;

  .users_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    &_item {
      flex-basis: 210px;
      height: 270px;

      padding: 20px 15px;
      border-radius: 25px;

      box-shadow: 0px 3px 5px 0px rgba(117, 125, 148, 1);

      background-color: $color-white;
      .users_item_img {
        display: block;

        width: 140px;
        height: 140px;

        border-radius: 50%;
        margin: 0 auto;

        object-fit: cover;
        object-position: center;

        box-shadow: 0px 3px 5px 0px rgba(117, 125, 148, 1);
      }

      .users_item_login {
        margin-top: 15px;

        color: $color-grey;

        font-weight: 700;
        font-size: 22px;
        line-height: 1.2em;
        text-transform: capitalize;
        text-align: center;
      }

      .users_control {
        display: flex;
        gap: 10px;
        justify-content: flex-end;

        margin-top: 15px;

        .users_btn_wrapper {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 40px;
          height: 40px;

          border-radius: 6px;

          box-shadow: 0px 1px 3px 0px rgba(117, 125, 148, 1);
          background-color: $color-light-grey;

          .users_btn_edit,
          .users_btn_delete {
            width: 30px;
            height: 30px;

            border: none;
            border-radius: 6px;

            box-shadow: 0px 0px 1px 0px rgba(117, 125, 148, 1);
            background-color: transparent;

            background-repeat: no-repeat;
            background-size: cover;
          }

          .users_btn_edit {
            background-image: url("../../../assets/images/edit.png");
          }

          .users_btn_delete {
            background-image: url("../../../assets/images/delete.png");
          }
        }
      }
    }
  }

  .users_pages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;

    margin-top: 20px;

    span {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 40px;
      height: 40px;

      padding: 3px;
      border-radius: 3px;

      box-shadow: 0px 0px 2px 0px rgba(117, 125, 148, 1);
      cursor: pointer;

      background-color: $color-grey;
      color: $color-white;

      font-weight: 700;
      font-size: 20px;
      line-height: 1.2em;
    }

    .users_active_page {
      color: $color-dark-grey-blue;
    }
  }
}

.users_wrapper.users_wrapper_visible {
  height: 365px;
  overflow: visible;
  opacity: 1;
}
