@import "../../../common/styles/colors";
@import "../../../common/styles/template";

.user_tasks {
  flex-grow: 1;
  .container {
    @extend %container;

    .user_tasks_inner {
      margin-top: 100px;

      .user_tasks_title {
        margin: 18px 0px 40px 0px;

        span {
          padding: 10px 20px;
          border-radius: 25px;
          box-shadow: 0px 3px 5px 0px rgb(117 125 148);
          background-color: #fff;

          color: #757d94;

          font-weight: 700;
          font-size: 35px;
          line-height: 1.2em;
          text-transform: capitalize;
        }
      }

      .user_tasks_list {
        padding: 25px 25px;
        border-radius: 25px;

        box-shadow: 0px 3px 5px 0px rgba(117, 125, 148, 1);

        background-color: $color-white;

        &_item {
          padding: 14px;
          border: none;
          border-radius: 6px;
          margin-bottom: 12px;

          box-shadow: 0px 1px 3px 0px rgba(117, 125, 148, 1);
          background-color: #ebecf7;

          .task_container {
            display: flex;
            justify-content: space-between;

            .task_content {
              flex-basis: 80%;

              color: #757d94;

              // font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
              font-weight: 700;
              font-size: 22px;
              line-height: 1.2;
            }

            .task_box_control {
              display: flex;
              justify-content: flex-end;
              gap: 10px;
              flex-basis: 15%;

              .task_btn_wrapper {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 40px;
                height: 40px;

                border-radius: 6px;

                box-shadow: 0px 1px 3px 0px rgba(117, 125, 148, 1);
                background-color: $color-light-grey;

                .task_btn_edit,
                .task_btn_delete {
                  width: 30px;
                  height: 30px;

                  border: none;
                  border-radius: 6px;

                  box-shadow: 0px 0px 1px 0px rgba(117, 125, 148, 1);
                  background-color: transparent;

                  background-repeat: no-repeat;
                  background-size: cover;
                }

                .task_btn_edit {
                  background-image: url("../../../assets/images/edit.png");
                }

                .task_btn_delete {
                  background-image: url("../../../assets/images/delete.png");
                }
              }
            }
          }

          .task_box_date {
            display: flex;
            align-items: center;
            gap: 10px;

            margin-top: 5px;

            .task_date_title,
            .task_date_text {
              font-weight: 700;
              font-size: 18px;
              line-height: 1.2;
            }

            .task_date_title::first-letter {
              text-transform: capitalize;
            }
          }
        }
      }

      .window_without_tasks{
        
      }


      .user_tasks_btn_back {
        display: block;
        max-width: 150px;
        width: 100%;

        padding: 14px 10px;
        border: none;
        border-radius: 6px;
        margin: 30px 0;

        background-color: $color-lavender;
        color: $color-white;

        font-weight: 700;
        font-size: 18px;
        line-height: 1.2;
        text-transform: uppercase;
      }
    }
  }
}
