@import "../../common/styles/template";

.header {
  position: fixed;

  width: 100%;

  box-shadow: 0px 1px 4px 0px $color-dark-grey-blue;
  background-color: $color-lavender;

  .container {
    @extend %container;

    .header_inner {
      display: flex;
      align-items: center;

      height: 70px;

      .box_theme {
        margin-left: auto;

        cursor: pointer;

        .btn_theme {
          font-size: 30px;
        }
      }
    }
  }
}
