@import "../../../common/styles/colors";
@import "../../../common/styles/template";

.users {
  flex-grow: 1;
  .container {
    @extend %container;

    .users_inner {
      margin-top: 95px;
      .users_create_box {
        display: flex;
        align-items: center;

        .users_box_img {
          flex-basis: 55%;
          .users_img {
            display: block;

            width: 90%;
            margin: 0 auto;

            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }
        }

        .users_wrapper_form {
          flex-basis: 40%;

          .users_title {
            margin: 0px 0px 40px -30px;

            @extend %title;

            span {
              @extend %title_span;
            }
          }
        }
      }

      .users_bth_show {
        max-width: 300px;
        width: 100%;

        margin: 5px auto 10px;

        @extend %btn_style;
      }
    }
  }
}
