@import "../../../common/styles/colors";
@import "../../../common/styles/template";

.users {
  flex-grow: 1;
  .container {
    @extend %container;

    .users_inner {
      margin-top: 105px;
      .users_title {
        max-width: 250px;
        margin: 0 auto 25px;

        @media (max-width: 992px) {
          margin: 0 auto 45px;
        }

        @extend %title;

        span {
          @extend %title_span;
        }
      }

      .users_create_box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;

        @media (max-width: 992px) {
          flex-direction: column;
          gap: 30px;
        }

        .users_box_img {
          max-width: 500px;
          width: 100%;

          .users_img {
            display: block;

            width: 100%;

            margin: 0 auto;

            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }
        }

        .users_wrapper_form {
          max-width: 500px;
          width: 100%;
        }
      }

      .users_bth_show {
        max-width: 300px;
        width: 100%;

        margin: 25px auto;

        @extend %btn_style;
      }
    }
  }
}
